@import './Home/home-page';

.page-wrap {
    max-width: 1200px;
    margin: auto;
    padding-left: calc(2% + 1rem);
    padding-right: calc(2% + 1rem);
    min-height: 90vh;
    height: fit-content;

    .card-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
