@import './Home/home-page';

.page {
    max-width: 1100px;
    margin: auto;
    padding-left: calc(2% + 1rem);
    padding-right: calc(2% + 1rem);
    min-height: 100vh;
    height: fit-content;

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
