.EventCard {
    width: 12rem;
    height: 18rem;
    background-color: aquamarine;
}

.EventCard-Photo {
    height: 60%;
    background-image: url("https://images-ext-1.discordapp.net/external/K13R9Vgt-gI81u1gSRjZpud__GLxqi-EXV1KI9Fx-40/%3F_nc_cat%3D110%26ccb%3D1-3%26_nc_sid%3D8bfeb9%26_nc_ohc%3DWBcaRAlnRmYAX9qh9HQ%26_nc_ht%3Dscontent-lga3-1.xx%26tp%3D6%26oh%3Dca46c51b94c0afa18e663125ec650ead%26oe%3D60D7C904/https/scontent-lga3-1.xx.fbcdn.net/v/t1.6435-0/p526x296/167670354_4446540452040242_3711017374206592813_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.EventCard-Text {

}