.primary-button {
  border-radius: 0.3rem;
  border-width: 0px;
  min-width: 6rem;
  background-color: $theme;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.15s;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
}

.primary-button:hover {
  background-color: black;
}
