.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: white;
    padding-left: calc(5% + 9px);
    padding-right: calc(5% + 9px);
    box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);
}
