.event-card {
    cursor: pointer;
    min-width: 15rem;
    width: 22%;
    height: 18rem;
    background-color: white;
    box-shadow: 0 16px 32px -16px rgb(46 55 77 / 5%);
    transition: box-shadow .24s cubic-bezier(.4,0,.3,1),background-color .24s cubic-bezier(.4,0,.3,1),-webkit-box-shadow .24s cubic-bezier(.4,0,.3,1);
}

.event-card:hover {
    box-shadow: 0 16px 64px -16px rgb(46 55 77 / 20%);
}

.event-card-image {
    height: 60%;
    background-image: url("https://ccss.carleton.ca/ccss-website/images/event_posters/2020-2021/speed_friending.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.event-card-content {
    padding: 0.9rem;
}

.event-card-content-title {
    font-size: 1rem;
    margin-bottom: 0.6rem;
    color: #39364f;
    font-weight: 700;
}

.event-card-content-category {
    font-size: 0.85rem;
    color: blue;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.event-card-content-date {
    color: #39364f;
    font-weight: 300;
    font-size: 0.8rem;
}
