.event-filter {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  min-height: 2rem;
  margin-top: 1.75rem;
  color: #6f7287;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.event-filter-option {
  color: #6f7287;
  cursor: pointer;
  min-width: fit-content;
}

.event-filter-option:hover {
  color: black;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid #000000;
}

.event-filter-option-selected {
  color: #000000 !important;
  border-bottom: 3px solid $theme;
}

.event-filter-option-selected:hover {
  color: #000000 !important;
  border-bottom: 3px solid $theme;
}
