.event-card {
    width: 12rem;
    height: 18rem;
    background-color: aquamarine;
}

.event-card-image {
    height: 60%;
    background-image: url("https://ccss.carleton.ca/ccss-website/images/event_posters/2020-2021/speed_friending.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}
